<% var count=obj.length,item; %>
<% for(var i=0;i
<count;i++){ %>
<% item=obj[i];if(item.group=='设计'){continue}else if(item.group=='构件名称'){ %>
<div class="modle">
    <ul class="modleList">
        <li class="modleItem">
            <span class="modleName"><div class="modleNameText overflowEllipsis">构件名称</div></span> <span
                class="modleVal overflowEllipsis" title='<%=item.items[0]["value"]%>'><%=item.items[0]['value']%></span>
        </li>
    </ul>
</div>

<% }else{%>

<div class="modle">
    <div class="modleTitleBar">
        <i class="modleShowHide down"></i>
        <h1 class="modleName overflowEllipsis"><%= item.group%></h1>
    </div>
    <ul class="modleList">
        <% var subItems=item.items,subCount=subItems.length,subItem %>
        <% for(var j=0;j
        <subCount
        ;j++){ %>
        <% subItem=subItems[j]; %>
        <li class="modleItem">
            <span class="modleName"><div title='<%=subItem.name%>' class="modleNameText overflowEllipsis"><%=subItem.name%></div></span>
            <span class="modleVal overflowEllipsis" title="<%=subItem.value%><%=subItem.unit%>"><%=subItem.value%><%=subItem.unit%></span>
        </li>
        <% } %>
    </ul>
</div>
<% } %>
<% } %>
<div class="fordesign"></div>
<div class="attrDwgBox">
    <div class="modle">
        <div class="modleTitleBar"><i class="modleShowHide"></i>
            <h1 class="modleName"><%= App.Local.data['drawing-model'].Drawing || '图纸' %></h1>
        </div>

        <ul class="modleList">
        </ul>
    </div>
</div>
<div class="attrClassBox"></div>