<div class="servicesIndexBox">
    <ul class="servicesIndex">
        <li class="item notice">
            <a href="#resources/standardLibs">
                <div class="standardLibs iconBg"></div>
                <div class="text"><%= App.Local.data['source-model']['s-m-l'] || '标准模型库' %></div>
            </a>
        </li>
        <li class="item project">
            <a href="#resources/famLibs">
                <div class="famLibs iconBg"></div>
                <div class="text"><%= App.Local.data['family-list'].Fy || '族库' %> </div>
            </a>
        </li>
        <li class="item project">
            <a id="zjbz_link" href="javascript:;" target="_blank">
                <div class="zjbz_icon iconBg"></div>
                <div class="text"><%= App.Local.data['system-module'].ISd || '质监标准' %></div>
            </a>
        </li>
       <!-- <li class="item application">
            <a href="static/dist/app/todo/index.html">
                <div class="qualityStandardLibs iconBg"></div>
                <div class="text">质量标准库 </div>
            </a>
        </li>
        <li class="item systen">
            <a href="static/dist/app/todo/index.html">
                <div class="manifestLibs iconBg"></div>
                <div class="text">清单库 </div>
            </a>
        </li>
        <li class="item log">
            <a href="javascript:;">
                <div class="planCode iconBg"></div>
                <div class="text">计划节点库</div>
            </a>
        </li>
        <li class="item log">
            <a href="javascript:;">
                <div class="device iconBg"></div>
                <div class="text">材料设备库</div>
            </a>
        </li>-->
        <div class="clear"></div>
    </ul>
</div>
