<ul class="fileContentHeader zIndex">
    <li class="header">
        <span class="filecKAll inlineBlock"><input type="checkbox" class="ckAll"></span>
        <span class="fileBg inlineBlock"></span>
        <span class="fileName inlineBlock overflowEllipsis"><%= App.Local.data['drawing-model'].Name || '名称' %></span>
        <span class="fileStatus inlineBlock "><%= App.Local.data['drawing-model'].Ss1 || '状态' %></span>
        <span class="fileOp inlineBlock"><%= App.Local.data['drawing-model'].Operator || "操作人" %></span>
        <span class="fileSize inlineBlock"><%= App.Local.data['drawing-model'].Size || "大小" %></span>
        <span class="fileDate inlineBlock"><%= App.Local.data['drawing-model'].LUe || "最后修改时间" %></span>
        <span class="inlineBlock"><%= App.Local.data.system.notes || '备注' %></span>
    </li>
</ul>
<div class="fileBody">
    <div class="fileLists">
        <ul class="fileContent">

        </ul>
    </div>
</div>

 
 

