<div class="listContent">
</div>
 

<div class="modelContentBox">
    <div class="modelContent">
</div>
</div>


<div class="modelAttr">
    <ul class="projectPropetyHeader projectNav">
        <li class="item selected"><%= App.Local.data['model-view'].Ps || '属性' %></li>
    </ul>

    <div class="attrContentBox">
    	<div class="attrContent">
    		<div class="nullTip" ><%= App.Local.data['drawing-model'].SEt1 || '请选择构件' %></div>
    	</div>

    </div>

    <div class="dragSize"></div>
    <div class="slideBar"><i class="icon-caret-left"></i></div>
</div>
