<div class="mappingHeader">
    <h2>映射规则标准模板</h2>
    <div><div class="nameBox"><%= obj.name ? obj.name : '' %></div><span class="changeTpl" data-id="<%= obj.id ? obj.id : ''%>">修改</span></div>
</div>
<div class="mappingContainer">
    <div>自定义规则：共<span class="projectRuleCount">0</span>条</div>
    <span class="editSelf">编辑自定义规则</span>

</div>
<div class="mappingFooter">
    <div class="resetMappingRule">重建映射规则</div>
    <p>重建映射规则可以将新的项目映射规则映射到模型，解决模块化节点、质检标准未关联到构件的问题。</p>
    <p>重建映射规则需要重新转换模型，您可能需要等待。</p>
</div>
