
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj 
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.exe
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.vssscc
*.scc
*.dbmdl
*.orig
node_modules/
.idea/
home1/
orkbench
*.mswwsettings

tempfiles/
/.vscode
/webApp/test
/webApp/1.html
/webApp/resources/tpls/resourcesArtifacts/resources.artifacts.IndexNav.html
/webApp/resources/tpls/resourcesArtifacts/resources.artifacts.indexnav.html
/te
/webApp/dataJson/resources/backup
/webApp/app/oPage/download/IEH5Agent.exe
webApp/todo/todo.json
webApp/project/project.design.filesList.json
webApp/project/project.design.json
webApp/project/project.design.model.json
webApp/project/project.design.task.detail.json
webApp/services/services.step1.json
webApp/services/services.project.member.members.json
webApp/services/services.project.member.projects.json
webApp/map/map.json
webApp/project/cost/list.json
webApp/project/design/fetchCategoryCoding.json
webApp/project/design/fetchModelIdByProject.json
webApp/project/design/project.viewpoint.comments.json
webApp/project/fetchCrumbsProject.json
webApp/project/fetchCrumbsProjectVersion.json
webApp/project/fetchDesignChange.json
webApp/project/fetchDesignChangeInfo.json
webApp/project/fetchProjectVersionInfo.json
webApp/project/plan/publicity.json
webApp/project/project.design.collision.taskList.json
webApp/project/project.design.file.json
webApp/services/member/services.user.role.json
webApp/services/services.keyUser.json
webApp/bodyContent/bodyContent.mmhSlider.json
webApp/bodyContent/bodyContent.monthEnd.json
webApp/bodyContent/bodyContent.monthStart.json
webApp/bodyContent/bodyContent.proclamation.json
webApp/bodyContent/bodyContent.slide.json
webApp/bodyContent/bodyContent.todos.json
webApp/map/gridAndLevel.json
webApp/project/project.design.property.json
webApp/project/project.list.json
webApp/project/project.viewpoint.property.json
webApp/project/projectChange/changeFile.json
webApp/project/projectChange/comparisonAttr.json
webApp/project/projectChange/list.json
webApp/project/quality/materialEquipment.json
webApp/resources/StandardLibs.json
webApp/resources/fetchArtifactsCategoryRule.json
webApp/resources/fetchArtifactsPlan.json
webApp/resources/fetchArtifactsPlanRule.json
webApp/resources/fetchArtifactsQuality.json
webApp/resources/fetchArtifactsStandardQuality.json
webApp/resources/fetchArtifactsTplList.json
webApp/resources/fetchStandardVersion.json
webApp/services/member/services.member.list.json
webApp/services/member/services.member.roles.json
webApp/services/member/services.member.saverole.json
webApp/services/member/services.member.search.json
webApp/services/member/services.member.searchauth.json
webApp/services/member/services.member.searchresult.json
webApp/services/member/services.oz.role.json
webApp/services/member/services.role.fun.json
