<div class="listTopBgBox">
	<div class="listTopBox">
		<span><%= obj.phaseName %></span>
	</div>
</div>
<% if(obj.categoryItem.length>0){ %>
	<% _.each(obj.categoryItem,function(item){%>
		<div class="listContentBox">
			<fieldset class="classify">
			    <legend>
			    	<i class="micon <%=App.Flow.Controller.toIcon(item.categoryName)%>"></i><%= item.categoryName %>
		    	</legend>
			    <ul>
		    		<% if(item.items.length>0){ %>
		    			<% _.each(item.items,function(name){%>
		    				<% if(name.popup==1){ %>
    					        <li class="item dialogItem">
    					        	<%if(name.isPlan){%>
				        				<span class="text" title="<%= name.itemName%> 【模块化】" data-id="<%=name.itemId
%>">
				        					<%= name.itemName%><span>【模块化】</span>
			        					</span>
				        			<%}else {%>
				        				<span class="text" title="<%= name.itemName%>" data-id="<%=name.itemId
%>">
				        					<%= name.itemName%>
			        					</span>
				        			<%}%>
    				        	</li>
		    				<% }else{ %>
    					        <li class="item">
    					        	<% if(name.url != ""){ %>
	    					        	<a href="<%= name.url %>">
	    					        		<%if(name.isPlan){%>
						        				<span class="text" title="<%= name.itemName%> 【模块化】" data-id="<%=name.itemId
%>">
						        					<%= name.itemName%><span>【模块化】</span>
					        					</span>
						        			<%}else {%>
						        				<span class="text" title="<%= name.itemName%>" data-id="<%=name.itemId
%>">
						        					<%= name.itemName%>
					        					</span>
						        			<%}%>
	    					        	</a>
    					        	<% }else { %>
	    					        	<a href="javascript:;">
	    					        		<%if(name.isPlan){%>
						        				<span class="text" title="<%= name.itemName%> 【模块化】" data-id="<%=name.itemId
%>">
						        					<%= name.itemName%><span>【模块化】</span>
					        					</span>
						        			<%}else {%>
						        				<span class="text" title="<%= name.itemName%>" data-id="<%=name.itemId
%>">
						        					<%= name.itemName%>
					        					</span>
						        			<%}%>
	    					        	</a>
    					        	<% } %>
    				        	</li>
		    				<% } %>
	    				<%})%>
	    			<% } %>
			    </ul>
			</fieldset>
		</div>
	<%})%>
<% } %>