<div id="console">
  <table class="table table-responsive table-bordered">
    <tr>
      <td class="title">
        <h2><%= App.Local.data['family-list'].Fy || '族库' %> </h2></td>
    </tr>
    <tr>
      <td>

        <a href="/#console1/1/1" target="_blank" class="btn btn-primary">all</a>

      </td>
    </tr>
  </table>
  <table class="table table-responsive table-bordered">
    <tr>
      <td class="title">
        <h2><%= App.Local.data['source-model']['s-m-l'] || '标准模型库' %></h2></td>
    </tr>
    <tr>
      <td>
        <a href="/#console1/2/1" target="_blank" class="btn btn-primary">all</a>

      </td>
    </tr>
  </table>
  <table class="table table-responsive table-bordered">
    <tr>
      <td class="title">
        <h2>创建项目</h2></td>
    </tr>
    <tr>
      <td>
        <a href="/#console1/3/1" target="_blank" class="btn btn-primary">all</a>

      </td>
    </tr>
  </table>
  <table class="table table-responsive table-bordered">
    <tr>
      <td class="title">
        <h2>项目变更</h2></td>
    </tr>
    <tr>
      <td>
        <a href="/#console1/4/1" target="_blank" class="btn btn-primary">all</a>

      </td>
    </tr>
  </table>

  <!--<table class="table table-responsive table-bordered">-->
    <!--<tr>-->
      <!--<td class="title">-->
        <!--<h2>算量</h2></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<a href="/#console1/5/1" target="_blank" class="btn btn-primary">上传</a>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</table>-->
  <table class="table table-responsive table-bordered">
    <tr>
      <td class="title">
        <h2>质监系统</h2></td>
    </tr>
    <tr>
      <td>
        <a href="/#console1/6/1" target="_blank" class="btn btn-primary">材料设备</a>
        <a href="/#console1/6/2" target="_blank" class="btn btn-primary" title="<%= App.Local.data['drawing-model'].PAe || '开业验收' %>">过程,<%= App.Local.data['drawing-model'].PIe || '开业验收' %></a>
        <a href="/#console1/6/3" target="_blank" class="btn btn-primary">质量隐患</a>
        <a href="/#console1/6/4" target="_blank" class="btn btn-primary">验收合格数据</a>
      </td>
    </tr>
  </table>
  <table class="table table-responsive table-bordered">
    <tr>
      <td class="title">
        <h2 data-i18n="data.drawing-model.Design">设计</h2></td>
    </tr>
    <tr>
      <td>
        <a href="/#console1/7/1" target="_blank" class="btn btn-primary">设计检查列表</a>
      </td>
    </tr>
  </table>
  <table class="table table-responsive table-bordered">
    <tr>
      <td class="title">
        <h2 data-i18n='data.drawing-model.Cost'>成本</h2></td>
    </tr>
    <tr>
      <td>
        <a href="/#console1/8/1" target="_blank" class="btn btn-primary">all</a>
      </td>
    </tr>
  </table>
</div>