
@font-face {font-family: "modelicon";
  src: url('iconfont.eot?t=1470817039'); /* IE9*/
  src: url('iconfont.eot?t=1470817039#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470817039') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470817039') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470817039#modelicon') format('svg'); /* iOS 4.1- */
}

.modelicon {
  font-family:"modelicon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.m-rect:before { content: "\e600"; }
.m-filter:before { content: "\e601"; }
.m-selected:before { content: "\e602"; }
.m-zoom:before { content: "\e603"; }
.m-ellipse:before { content: "\e604"; }
.m-fit:before { content: "\e605"; }
.m-home:before { content: "\e606"; }
.m-camera:before { content: "\e607"; }
.m-more:before { content: "\e608"; }
.m-fit2d:before { content: "\e609"; }
.m-arrow:before { content: "\e60b"; }
.m-mark:before { content: "\e60d"; }
.m-text:before { content: "\e60e"; }
.m-fly:before { content: "\e60f"; }
.m-miniScreen:before { content: "\e610"; }
.m-fullScreen:before { content: "\e611"; }
.m-translucent:before { content: "\e612"; }
.m-closeTree:before { content: "\e613"; }
.m-openTree:before { content: "\e614"; }
.m-checked:before { content: "\e615"; }
.m-part:before { content: "\e616"; }
.m-saveCamera:before { content: "\e617"; }
.m-open:before { content: "\e618"; }
.m-axis:before { content: "\e619"; }
.m-download:before { content: "\e61a"; }
.m-share:before { content: "\e61b"; }
.m-save:before { content: "\e61c"; }
.m-unlock:before { content: "\e61d"; }
.m-lock:before { content: "\e61e"; }
.m-close:before { content: "\e61f"; }
.m-comment:before { content: "\e620"; }
.m-goBack:before { content: "\e621"; }
.m-rotateMouse:before { content: "\e623"; }
.m-rotateCamera:before { content: "\e624"; }
.m-rotateObj:before { content: "\e625"; }
.m-hideObj:before { content: "\e626"; }
.m-view:before { content: "\e627"; }
.m-rotate:before { content: "\e628"; }
.m-cloud:before { content: "\e629"; }
.m-edit:before { content: "\e62a"; }
.m-img:before { content: "\e622"; }
.m-address:before { content: "\e62b"; }
.m-zoomRect:before { content: "\e60c"; }
.m-tip:before { content: "\e60a"; }
.m-single-model:before { content: "\e631"; }
.m-single-dwg:before { content: "\e630"; }
.m-single-rvt:before { content: "\e62e"; }
.m-moren:before { content: "\e636"; }
.m-jingyingguanli32:before { content: "\e638"; }
.m-shangguangongcheng:before { content: "\e637"; }
.m-zhaoshangguanli:before { content: "\e639"; }
.m-shejiguanli:before { content: "\e63a"; }
.m-fazhanguanli:before { content: "\e63b"; }
.m-chengbenguanli:before { content: "\e63d"; }
.m-jihuaguanli:before { content: "\e63e"; }
.m-zhiliangguanli:before { content: "\e63f"; }

.m-zooms:before { content: "\e62c"; }
.m-kuangsuo:before { content: "\e60c"; }
.m-isolation:before { content: "\e632"; }
.m-xuanban:before { content: "\e6eb"; }
//.m-xuanban:before { content: "\e62d"; }
.m-weixuanban:before { content: "\e62f"; }
.m-hideSelected:before { content: "\e633"; }
.m-hideNotSelected:before { content: "\e634"; }
.m-showAll:before { content: "\e6ef"; }
.m-lockAxisZ:before { content: "\e6ee"; }
#lockAxisZ.selected >i:before { content: "\e63c" !important; }

[data-color=m-red]:before {
  content: "";
  left: 4px;
  display: block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: red;
}
[data-color=m-pink]:before {
  content: "";
  left: 4px;
  display: block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #F647AB;
}
[data-color=m-blue]:before {
  content: "";
  left: 4px;
  display: block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #0084EB;
}
[data-color=m-green]:before {
   content: "";
   left: 4px;
   display: block;
   position: relative;
   top: 4px;
   width: 20px;
   height: 20px;
   border: 2px solid #fff;
   border-radius: 50%;
   background: #79D433;
 }
[data-color=m-yellow]:before {
  content: "";
  left: 4px;
  display: block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #FFE730;
}
[data-color=m-golden]:before {
  content: "";
  left: 4px;
  display: block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #FF8826;
}
[data-color=m-white]:before {
  content: "";
  left: 4px;
  display: block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
}