<%  if(obj.state.length>0) {%>
	<div class="userAdminListClass">
		<table>
			<thead>
				<tr>
					<td>登录账号 </td>
					<td>账号前缀</td>
					<td>用户名称</td>
					<td>账号密码</td>
					<td>到期日</td>
					<td>账号操作</td>
				</tr>
			</thead>
			<tbody>
				<% _.each(obj.state,function(item){%>
					<tr>
						<td><%= item.loginid %></td>
						<td><%= item.prefix %></td>
						<td><%= item.username %></td>
						<td><%= item.pwd %></td>
						<td><%= item.valid_time %></td>
						<td>
							<a href="javascript:;" data-loginid='<%= item.loginid %>' class="viewUserItem viewUserEdite"><%= App.Local.data['drawing-model'].Edit || '编辑' %></a>
							<a href="javascript:;" data-loginid='<%= item.loginid %>' class="viewUserItem viewUserDelete"><%= App.Local.data['drawing-model'].Delete || '删除' %></a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>		
	</div>
	<div class="pagingBox">
       <div class="sumDesc"></div><div class="listPagination"></div>
    </div>
<% }else{ %>
	<div class="nullViewUserList">还没有浏览用户，请点击添加按钮添加</div>
<% } %>