 <% var lists=obj.data, count=lists.length,current,odd=0; %> 

               <%for(var i=0;i<count;i++){%>

                    <tr class=" <%=odd%2==0?'odd':'' %>  stepOne"  data-code="<%=lists[i].code%>"> 
                    <%current=lists[i],odd+=1;%>
                       
                        <td class="listCode">

                            <%if(current.children){%>
                                 <i class="nodeSwitch on"></i>
                            <%}else{%>
                                 <i class="nodeSwitch none"></i>
                            <%}%>

                            <span class="code"><%=current.code%></span>
                        </td>
                        <td class="listName"> <div class=" overWidth"> <%=current.name%> </div>
                             </td>
                        <td class="listCount"><div  title="<%=current.totalQuantity%><%=current.unit%>"  class="overflowEllipsis overWidth"><%=current.totalQuantity%><%=current.unit%></div></td>
                    </tr>

                     <% if(current.children){%>
                         <% var lists2=current.children; count2=lists2.length; %>

                          <%for(var j=0;j<count2;j++){%>

                                

                                  <tr class=" <%=odd%2==0?'odd':'' %> stepTwo" data-code="<%=lists2[j].code%>"> 
                                    <%current=lists2[j],odd+=1;%>
                                    <td class="listCode">
                                          <%if(current.children){%>
                                                 <i class="nodeSwitch on step1"></i>
                                            <%}else{%>
                                                 <i class="nodeSwitch none step1"></i>
                                            <%}%>
                                            <span class="code code1"><%=current.code%></span>
                                    </td>
                                    <td class="listName"><div class=" overWidth">
                                    <%=current.name%></div></td>
                                    <td class="listCount"><div  title="<%=current.totalQuantity%><%=current.unit%>"  class="overflowEllipsis overWidth">
                                    <%=current.totalQuantity%><%=current.unit%></div></td>  
                                </tr>

                                 <% if(current.children){%>
                                     <% var lists3=current.children; count3=lists3.length; %>
                                     <%for(var k=0;k<count3;k++){%>
                                      
                                       <tr class=" <%=odd%2==0?'odd':'' %> stepThree" data-code="<%=lists3[k].code%>"> 
                                        <%current=lists3[k],odd+=1;%>
                                            <td class="listCode">
                                                <%if(current.children){%>
                                                     <i class="nodeSwitch on step2"></i>
                                                <%}else{%>
                                                     <i class="nodeSwitch none step2"></i>
                                                <%}%>
                                                <span class="code code2"><%=current.code%></span>
                                            </td>
                                            <td class="listName"><div class=" overWidth">
                                            <%=current.name%></div></td>
                                            <td class="listCount"><div title="<%=current.totalQuantity%><%=current.unit%>" class="overflowEllipsis overWidth">
                                            <%=current.totalQuantity%><%=current.unit%></div></td>  
                                        </tr>

                                             <% if(current.children){%>
                                                 <% var lists4=current.children; count4=lists4.length; %>
                                                 <%for(var n=0;n<count4;n++){%> 
                                                      <tr class=" <%=odd%2==0?'odd':'' %> stepFour" data-code="<%=lists4[n].code%>"> 
                                                        <%current=lists4[n],odd+=1;%> 
                                                        <td class="listCode">
                                                             <%if(current.children){%>
                                                                 <i class="nodeSwitch on step3"></i>
                                                            <%}else{%>
                                                                 <i class="nodeSwitch none step3"></i>
                                                            <%}%>
                                                            <span class="code code3"><%=current.code%></span>
                                                        </td>
                                                        <td class="listName"><div class=" overWidth">
                                                        <%=current.name%></div></td>
                                                        <td class="listCount">
                                                        <div title="<%=current.totalQuantity%><%=current.unit%>" class="overflowEllipsis overWidth"><%=current.totalQuantity%><%=current.unit%></div></td>
                                                    </tr>  
                                                 <%}%>

                                             <%}%>


                                     <%}%>

                                 <%}%>


                          <%}%>
                          
                    <%}%>

                <%}%> 
                     <%if(count<=0){%>
                <tr> <td  colspan="3" class="noDataTd"><%= App.Local.data['drawing-model'].Ndd1 || '暂无数据' %></td></tr>
        <%}%>