<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            width: 300px;
            font-size: 12px;
            font-family: "Microsoft YaHei";
            padding: 0;
            margin: 0;
        }
        table td{
            height: 40px;
        }
        table th{
            border-bottom: 1px solid #CFCFCF;
        }
        table tr:nth-child(even) {
            background: #CFCFCF;
        }
        table tr:nth-child(odd) {
            background: #FFF
        }
    </style>

</head>
<body>

<table  cellspacing="0" >
    <thead>
    <tr>
        <th>选择</th>
        <th>构件编码</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <input type="checkbox">
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
<script>
    //  window.showModalDialog('http://bim.wanda-dev.cn/static/dist/components/device/index.html',{},
    //           "dialogWidth=1000px;dialogHeight=500px")
</script>
</body>
</html>