<div id="imboxContent">
	<div class="commissionBox">
		<div class="scrollBoxUl">
			<ul class="commissionLists">
				<span class="noData"><i class="tip"></i><%= App.Local.data['system']['l-g'] || '正在加载，请稍候……' %></span>
			</ul>
		</div>
		<div class="page">
			<div class="commissionListPagination"></div>
		</div>
	</div>
	<div class="alreadyBox">
		<div class="scrollBoxUlS">
			<ul class="alreadyLists">
				<span class="noData"><i class="tip"></i><%= App.Local.data['system']['l-g'] || '正在加载，请稍候……' %></span>
			</ul>
		</div>
		<div class="page">
			<div class="alreadyListPagination"></div>
		</div>
	</div>
</div>