

<div class="tbContainer">
    <table class="tbConcernsHeader tbComm">
        <thead>
            <tr>
                <th class="concernInfo">检查结果</th>
                <!--<th class="category">类别</th>-->
                <th class="status">状态</th>
                <th class="grade">等级</th>
                <th class="operator">填报人</th>
                <th class="type">类型</th>
            </tr>
        </thead>
    </table>
    <div class="materialequipmentList concernList">
        <div class="materialequipmentListScroll">
            <table class="tbConcernsBody tbComm">
                <tbody>
                   <tr class="noLoading"></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="paginationBottom">
  <div class="pageInfo">
        <span class="curr">1</span>/<span class="pageCount">123</span>页
        <span class="prev">上一页</span> <span class="next">下一页</span>
    </div>
    <div class="sumCount">共<span class="count">1</span>条</div>
  
</div>