


[class^="myIcon-"], [class*="myIcon-"] { display: inline-block; width: 20px; height: 20px; line-height: 20px; vertical-align: middle; background: url(../images/comm/images/commIcon.png) no-repeat; }

/* 第1列 */
.myIcon-createFolder { background-position: 0px -338px; }
.disable .myIcon-createFolder { background-position: -39px -340px; }
.myIcon-upload { background-position: 0px -280px; }
.disable .myIcon-upload { background-position: -39px -300px; }
.myIcon-download { background-position: 0px -299px; }
.disable .myIcon-download { background-position: -39px -320px; }
.myIcon-del{background-position: 0px -360px;}
.disable .myIcon-del { background-position: -39px -360px; }
.myIcon-enter{background-position: 0px -380px;}
.myIcon-cancel{background-position: 0px -400px;}
.myIcon-slanting-right{background-position: 0px -213px;}
.myIcon-search{background-position: 0px -480px;}
.myIcon-link-check{background-position: 0px -520px;}
.myIcon-circle-green{background-position: 0px -536px;}
.myIcon-play{background-position: 0px -680px;}
.myIcon-pause{background-position: 0px -700px;}
.myIcon-circle{background-position: 0px -720px;}
.myIcon-inventory{background-position: 0px -660px; width: 10px; height: 13px;}
.myIcon-circle-red{background-position: 0px -555px;}
.myIcon-circle-yellow{background-position: 0px -576px;}
.myIcon-circle-red-border{background-position: 0px -595px;}

/* 第二列 */
.myIcon-update{background-position: -40px -100px;}
.myIcon-del-blue{background-position: -40px -120px;}
.myIcon-tip-mark{background-position: -40px -258px;}
.myIcon-left-arr{background-position: -40px -0px;}
.myIcon-up{background-position: -40px -181px;}
.myIcon-up-disable{background-position: -40px -200px;}
.myIcon-down{background-position: -40px -218px;}
.myIcon-down-disable{background-position: -40px -238px;}

.myIcon-status-enable{background-position: -40px -140px;}
.myIcon-status-disable{background-position: -40px -160px;}