

<div class="contextMenu" id="listContext">
        <ul>
          <li id="previewModel"><a href="javascript:void(0);" target="_blank"><%= App.Local.data['system-module'].Preview || '预览' %></a></li>
          <li id="downLoadModel" data-i18n="data.drawing-model.Download"><%= App.Local.data['drawing-model'].Download || '下载' %></li>
          <li id="delModel"><%= App.Local.data['drawing-model'].Delete || '删除' %></li>
          <li id="reNameModel"><%= App.Local.data.system.Rename || '重命名' %></li>
        </ul>
   </div>