<div class="noticeListTopBox">
	<table>
		<tr>
			<td ><%= App.Local.data['system-module'].Title || '标题' %></td>
			<td>发布时间</td>
			<td><%= App.Local.data['drawing-model'].Ss1 || '状态：' %></td>
		</tr>
	</table>
</div>
<div class="noticeListDownBox">
	<div class="scrollBox">
		<table>
			<tbody id="listDom">
			</tbody>
		</table>
	</div>
	<div class="pagingBox">
       <div class="sumDesc"></div><div class="listPagination"></div>
	</div>
</div>
<script type="text/javascript">
$tds = $(".noticeListTopBox").find("td");
$tds[0].innerHTML = App.Local.data['system-module'].Title;
$tds[1].innerHTML = App.Local.data['system-module'].Time;
$tds[2].innerHTML = App.Local.data['system-module'].Status;
</script>