<div class="hedaerSearch">
    <span class="searchToggle">选择筛选条件</span>
    <span class="clearSearch">清除条件</span>
    <span class="groupRadio">
        <label class="btnCk"><i class="iconPic"></i>显示搜索结果对应位置</label>
    </span>
</div>
<div class="searchDetail openingacceptance">
    <div class="searchOptons">
        <div class="optonLine zIndex10">
            <div class="myDropDown specialitiesOption optionComm">
                <span class="myDropText">
                    <span>专业：</span> <span class="text">全部</span> <i class="myDropArrorw"></i> </span>
                    <ul class="myDropList">
                        <li class="myItem" data-val=''>全部</li>
                        <li class="myItem" data-val='10'>外装</li>
                        <li class="myItem" data-val='15'>内装</li>
                        <li class="myItem" data-val='45'>采光顶</li>
                        <li class="myItem" data-val='50'>慧云机房</li>
                        <li class="myItem" data-val='55'>冷冻机房</li>
                        <li class="myItem" data-val='60'>消防水泵房</li>
                        <li class="myItem" data-val='75'>发电机房</li>
                        <li class="myItem" data-val='85'>地下车库</li>
                    </ul>
                </div>
            </div>
            <div class="optonLine">
                <div class="myDropDown categoryOption optionComm">
                    <span class="myDropText">
                        <span>类别：</span> <span class="text">全部</span> <i class="myDropArrorw"></i> </span>
                        <ul class="myDropList">
                            <li class="myItem" data-val=''>全部</li>
                            <li class="myItem" data-val='05'>玻璃幕墙</li>
                            <li class="myItem" data-val='06'>石材/地砖地面</li>
                            <li class="myItem" data-val='07'>车库出入口</li>
                            <li class="myItem" data-val='30'>栏杆扶手</li>
                            <li class="myItem" data-val='40'>标识</li>
                            <li class="myItem" data-val='55'>广告位</li>
                        </ul>
                    </div>
                </div>
                <div class="optonLine">
                    <div class="myDropDown riskOption optionComm">
                        <span class="myDropText">
                            <span>有无隐患：</span> <span class="text">全部</span> <i class="myDropArrorw"></i> </span>
                            <ul class="myDropList">
                                <li data-status="" class="myItem">全部</li>
                                <li data-status="1" class="myItem">有</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="optonLine btnOption">
                    <input type="button" class="myBtn myBtn-primary btnFilter" value="筛选" />
                </div>
            </div>
        </div>
        <div class="tbContainer">
            <table class="tbOpeningacceptanceHeader tbComm">
                <thead>
                    <tr>
                        <th class="manifestIcon"></th>
                        <th class="specialities">专业</th>
                        <th class="category">类别</th>
                        <th class="positon">位置</th>
                        <th class="ckResult">检查结果</th>
                    </tr>
                </thead>
            </table>
            <div class="materialequipmentList openingacceptanceList">
                <div class="materialequipmentListScroll">
                    <table class="tbOpeningacceptanceBody tbComm">
                        <tbody>
                        <tr class="noLoading"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="paginationBottom">
        <div class="pageInfo">
            <span class="curr">0</span>/<span class="pageCount">0</span>页
            <span class="prev">上一页</span> <span class="next">下一页</span>
        </div>
        <div class="sumCount">共<span class="count">0</span>条</div>
        
    </div>