<% var count=obj.length,item; %>
    <% for(var i=0;i<count;i++){ %>
        <% item=obj[i]; %>
            <div class="modle">
                <i class="modleShowHide"></i>
                <h1 class="modleName"><%= item.group%></h1>
                <ul class="modleList
">
                    <li class="modleItem">
                        <span class="modleName"> <div class="modleNameText overflowEllipsis">
                                       </div></span>
                        <span class="changeValue beforeChange">

                                    <div class="modleNameText overflowEllipsis">
                                      <%=App.Local.data['drawing-model'].Bce||'变更前'%></div></span>
                        <span class="changeValue afterChange">
                                       <div class="modleNameText overflowEllipsis">
                                    <%=App.Local.data['drawing-model'].Ace||'变更后'%></div>
                                     </span>
                    </li>
                    <% var subItems=item.items,subCount=subItems.length,subItem %>
                        <% for(var j=0;j<subCount;j++){ %>
                            <% subItem=subItems[j];  %>
                                <li class="modleItem">
                                    <span class="modleName"><div class="modleNameText overflowEllipsis"><%=subItem.name%></div></span>
                                    <span class="changeValue beforeChange">

                                    <div class="modleNameText overflowEllipsis">
                                    <%=subItem.baseValue%><%=subItem.baseUnit%></div></span>
                                    <span class="changeValue afterChange">

                                       <div class="modleNameText overflowEllipsis <%= subItem.baseValue!=subItem.value ? 'changeColor':'' %>">
                                    <%=subItem.value%><%=subItem.unit%></div>
                                     </span>
                                </li>
                                <% } %>
                </ul>
            </div>
            <% } %>
                <div class="attrCostBox projectChangeListBox">
                    <div class="modle">
                        <i class="modleShowHide"></i>
                        <h1 class="modleName" data-i18n='data.drawing-model.Cost'>成本</h1>
                        <div class="modleList">
                            <ul class="contrastTree">
                                <li class="node">
                                    <div class="itemContent">
                                        <div class="repertoireCode comm"><%= App.Local.data['drawing-model'].BNo || '清单编码' %></div>
                                        <div class="repertoireName comm"><%= App.Local.data['drawing-model'].BNe || '清单名称' %></div>
                                        <div class="beforeChange comm overflowEllipsis"><%=App.Local.data['drawing-model'].Bce||'变更前'%></div>
                                        <div class="afterChange comm overflowEllipsis"><%=App.Local.data['drawing-model'].Ace||'变更后'%></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modle dwgBox">
                    <i class="modleShowHide down"></i>
                    <h1 class="modleName"><%= App.Local.data['drawing-model'].Drawing || '图纸' %></h1>
                    <ul class="modleList">
                    
                    </ul>
                </div>
