<div class="ruleTitle" data-id="<%= obj.id ? obj.id  : ''%>">
    <i class="ruleCheck"></i>
    <%if (obj.checked) {%>
    <i class="RuleCheck"></i>
    <%}%>
    <div class="right getDetail">详情</div>
    <div class="desc"><%= (obj.mappingCategory.categoryCode ? ( "[" + obj.mappingCategory.categoryCode + "] &nbsp;") : '' ) +  (obj.mappingCategory.categoryName ? obj.mappingCategory.categoryName  : "新建映射规则") %></div>
</div>
<div class="ruleDetail modelRelate">
    <div class="typeCode" data-code="<%= obj.mappingCategory.categoryCode %>" data-name="<%= obj.mappingCategory.categoryName %>">
        <div class="title" data-i18n="data.drawing-model.CCe">分类编码:</div>
        <div class="conR">
            <div>
                <%= '[' + mappingCategory.categoryCode +']'%> <%= mappingCategory.categoryName %>
            </div>
            <ul>
            </ul><!--联想接口，最多显示5条-->
        </div>
    </div>
    <div class="mapRule clearfix">
        <div class="title">属性映射规则:</div>
        <div class="conR">
            <dl>
                <% var list =obj.mappingCategory.mappingPropertyList ; for(var i = 0 ; i < list.length ; i++) { %>
                <dd>
                    <div class="leftten" data-id="<%= obj.id %>" data-name="">
                       <%  var type = list[i].operator,a1 = "==",a2 = "!=",a3 = "<>",a4 = "><";  %>
                        <%= '"' + list[i].propertyKey + '"'%>
                        <span><%=   type == a1 ? "等于：" :  (type == a2 ? "不等于：" :  (type == a3 ? "在如下范围内：" :  (type == a4 ? "在如下范围外：" : "")))%></span>
                    </div>
                    <div class="eIn <%= (type == a1  || type == a2) ? 'active' : ''  %>"><%= '"' + list[i].propertyValue +'"' %></div><!--等于/不等于-->
                    <div class="ioside  <%= (type == a3 || type == a4) ? 'active' : ''  %>"><!--范围 内/外-->
                        <i>"</i><%= list[i].ruleList.left=='(' ? '>' : (list[i].ruleList.left=='[' ? '≥' : '>') %><%= list[i].ruleList.leftValue %><i>"</i>
                        <i>"</i><%=  list[i].ruleList.right==')' ? '<' : (list[i].ruleList.right==']' ? '≤' : '<') %><%= list[i].ruleList.rightValue  %><i>"</i>
                    </div>
                </dd>
                <% }%>
            </dl>
        </div>
    </div>
</div>