<div class="containerHeader">
    <div class="fileSearchBox">
        <input type="text" class="txtInput" placeholder="<%= App.Local.data['source']['s-p-e'] || '请输入要搜索的文件/文件夹名' %>" id="txtFileSearch" /> <i class="clearSearch" title="清除搜索"></i>
        <span class="btnFileSearch myBtn myBtn-default" ><%= App.Local.data['drawing-model'].Find || '搜索' %></span>
    </div>
    <div class="opBox">
        <a href="javascript:;" class="returnBack theEnd" isReturn='0' ><%= App.Local.data['drawing-model'].AFs || '全部文件' %></a>
        <span class="btnNewFolder btnNormal"><em class="myIcon-createFolder"></em><%= App.Local.data['drawing-model'].New || '+ 新建' %></span>
        <span class="btnFileUpload btnNormal" id="file-upload-btn" ><em class="myIcon-upload"></em><%= App.Local.data['drawing-model'].Upload || '+ 上传' %></span>
        <span class="btnFileDownLoad btnNormal" ><em class="myIcon-download"></em ><%= App.Local.data['drawing-model'].Download || '+ 下载' %></span>
        <span class="btnFileDel btnNormal"><em class="myIcon-del"></em><%= App.Local.data['drawing-model'].Delete || '删除' %></span>
        <span class="btnFileState btnNormal ellipsisI18n" ><%= App.Local.data['drawing-model'].CPs || "平台文件处理结果" %></span>
    </div>
    <div class="searchCount"><%= App.Local.data.system.Total|| '共搜索到' %> <span class="count">-</span> <%= App.Local.data.system.rfd || '个相关结果' %></div>
</div>
<ul class="fileContentHeader zIndex changeContrastBox">
    <li class="header">
        <span class="filecKAll inlineBlock"><input type="checkbox" class="ckAll" /></span>
        <span class="fileBg inlineBlock"></span>
        <span class="fileName inlineBlock overflowEllipsis"><%= App.Local.data['drawing-model'].Name || '名称' %></span>
        <!--临时去掉模型对比功能-->
        <span class="changeContrast inlineBlock">
              <%=App.Project.Settings.CurrentVersion.name!=='初始版本'?(App.Local.data['drawing-model'].SMn||'标准比对'):(App.Local.data['drawing-model'].VCn || "'变更比对'")%>  </span>
        <span class="fileStatus inlineBlock"><%= App.Local.data['drawing-model'].Ss1 || '状态' %></span>
        <span class="fileOp inlineBlock"><%= App.Local.data['drawing-model'].Operator || "操作人" %></span>
        <span class="fileSize inlineBlock"><%= App.Local.data['drawing-model'].Size || "大小" %></span>
        <span class="fileDate inlineBlock"><%= App.Local.data['drawing-model'].LUe || "最后修改时间" %></span>
    </li>
</ul>
<div class="fileContainerScroll">
    <div class="fileContainerScrollContent">
        <ul class="fileContent changeContrastBox">
        </ul>
    </div>
</div>
