

<div class="contextMenu" id="listContextProject">
        <ul>
          <li id="previewModelProject"><a href="javascript:void(0);" target="_blank"><%= App.Local.data['system-module'].Preview || '预览' %></a></li>
          <li id="downLoadModelProject" data-i18n="data.drawing-model.Download"><%= App.Local.data['drawing-model'].Download || '下载' %></li>
          <li id="delModelProject"><%= App.Local.data['drawing-model'].Delete || '删除' %></li>
          <li id="reNameModelProject"><%= App.Local.data.system.Rename || '重命名' %></li>
        </ul>
   </div>